In [1]:
TRIPS_PATH = 'https://raw.githubusercontent.com/IsamAljawarneh/datasets/1c2a6af7dea7aa93105ac1d1d0118d07bd681d8a/data/NYC_Pilot2_PM_Part1.csv'
POLYGON_PATH = 'https://raw.githubusercontent.com/IsamAljawarneh/datasets/1c2a6af7dea7aa93105ac1d1d0118d07bd681d8a/data/nyc_polygon.geojson'

In [2]:
import pandas as pd
import folium
import geopandas as gpd
from shapely.geometry import Polygon

C:\Users\mohan\AppData\Local\Temp\ipykernel_10072\657362768.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [20]:
trips = pd.read_csv(TRIPS_PATH)

In [21]:
gdf_trips = gpd.GeoDataFrame(trips, geometry=gpd.points_from_xy(trips.longitude, trips.latitude))
gdf_trips.set_crs('epsg:4326', inplace=True)

,SensorID,time,latitude,longitude,bin0,bin1,bin2,bin3,bin4,bin5,...,bin18,bin19,bin20,bin21,bin22,bin23,temperature,humidity,pm25,geometry
0,NYCP2_CS01A,1631277304,40.847672,-73.869316,11,1,1,0,0,0,...,0,0,0,0,0,0,23.7,57.3,4.508813,POINT (-73.86932 40.84767)
1,NYCP2_CS01A,1631277308,40.847668,-73.869316,22,4,1,0,0,2,...,0,0,0,0,0,0,23.7,57.8,5.462420,POINT (-73.86932 40.84767)
2,NYCP2_CS01A,1631277313,40.847649,-73.869362,40,1,1,0,0,1,...,0,0,0,0,0,0,23.7,57.8,5.154881,POINT (-73.86936 40.84765)
3,NYCP2_CS01A,1631277318,40.847649,-73.869362,26,1,0,0,0,0,...,0,0,0,0,0,0,23.6,57.6,4.508813,POINT (-73.86936 40.84765)
4,NYCP2_CS01A,1631277323,40.847649,-73.869362,44,4,0,1,0,0,...,0,0,0,0,0,0,23.6,57.5,5.539503,POINT (-73.86936 40.84765)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169994,NYCP2_CS03A,1631457109,40.823353,-73.890488,115,11,2,0,1,0,...,0,0,0,0,0,0,24.6,54.8,5.460360,POINT (-73.89049 40.82335)
169995,NYCP2_CS03A,1631457114,40.823349,-73.890480,132,8,2,0,0,0,...,0,0,0,0,0,0,24.6,54.8,5.298209,POINT (-73.89048 40.82335)
169996,NYCP2_CS03A,1631457119,40.823349,-73.890480,147,14,0,0,0,0,...,0,0,0,0,0,0,24.6,54.8,6.470661,POINT (-73.89048 40.82335)
169997,NYCP2_CS03A,1631457124,40.823345,-73.890488,121,8,2,0,1,1,...,0,0,0,0,0,0,24.6,54.6,6.424142,POINT (-73.89049 40.82335)
169998,NYCP2_CS03A,1631457129,40.823338,-73.890488,135,8,1,0,1,1,...,0,0,0,0,0,0,24.6,54.6,6.526187,POINT (-73.89049 40.82334)

In [22]:
geojson_file = POLYGON_PATH
neighborhoods_original = gpd.read_file(geojson_file)

In [23]:
sjoined_trips_original = gpd.sjoin(gdf_trips, neighborhoods_original)
sjoined_trips_original.head(5)

,SensorID,time,latitude,longitude,bin0,bin1,bin2,bin3,bin4,bin5,...,bin23,temperature,humidity,pm25,geometry,index_right,neighborhood,boroughCode,borough,@id
0,NYCP2_CS01A,1631277304,40.847672,-73.869316,11,1,1,0,0,0,...,0,23.7,57.3,4.508813,POINT (-73.86932 40.84767),38,Bronx Park,2,Bronx,http://nyc.pediacities.com/Resource/Neighborho...
1,NYCP2_CS01A,1631277308,40.847668,-73.869316,22,4,1,0,0,2,...,0,23.7,57.8,5.462420,POINT (-73.86932 40.84767),38,Bronx Park,2,Bronx,http://nyc.pediacities.com/Resource/Neighborho...
2,NYCP2_CS01A,1631277313,40.847649,-73.869362,40,1,1,0,0,1,...,0,23.7,57.8,5.154881,POINT (-73.86936 40.84765),38,Bronx Park,2,Bronx,http://nyc.pediacities.com/Resource/Neighborho...
3,NYCP2_CS01A,1631277318,40.847649,-73.869362,26,1,0,0,0,0,...,0,23.6,57.6,4.508813,POINT (-73.86936 40.84765),38,Bronx Park,2,Bronx,http://nyc.pediacities.com/Resource/Neighborho...
4,NYCP2_CS01A,1631277323,40.847649,-73.869362,44,4,0,1,0,0,...,0,23.6,57.5,5.539503,POINT (-73.86936 40.84765),38,Bronx Park,2,Bronx,http://nyc.pediacities.com/Resource/Neighborho...

In [24]:
df_pm25 = (sjoined_trips_original
                          .groupby('neighborhood')
                          .pm25
                          .agg(list)
                          .to_frame("pm25_list")
                          .reset_index())# Let's count each points inside the hexagon

df_pm25['average_pm25_value'] =(df_pm25['pm25_list'].apply(lambda x:sum(x)/len(x)))
df_pm25.drop('pm25_list',axis = 1, inplace=True)

In [25]:
df_pm25.head()

  neighborhood  average_pm25_value
0     Allerton            2.940433
1   Baychester            3.464289
2      Belmont            4.138367
3   Bronx Park            4.141387
4    Bronxdale            3.787668

In [27]:
df_pm25.to_csv('Average pm25 per neighborhood BASELINE.csv')